.main-banner {
  padding: 10px 0;
}


.small-banners {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  div[class^="col-"] {
    padding: 0 5px;
  }
}


.featured-products {
  margin: 20px 0;

  .product {
    text-align: center;

    a {
      text-decoration: none;
    }
  }
}
