@charset "UTF-8";
header nav > ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  header nav > ul > li {
    display: inline-block; }

.logo a {
  display: inline-block; }

.top-bar {
  padding: 7px 0;
  border-bottom: 1px solid #e4e4e4; }

.actions-menu {
  font-size: 0.875rem;
  padding: 5px 0; }
  .actions-menu li + li {
    margin-left: 10px; }
  .actions-menu a {
    color: #000;
    text-decoration: none; }
    .actions-menu a:hover {
      color: #666; }

.search-box {
  position: relative; }
  .search-box input[type='search'] {
    border-radius: 0;
    height: 27px;
    width: 220px;
    font-size: 12px;
    border-color: #e4e4e4;
    box-shadow: none; }
    .search-box input[type='search']:focus {
      box-shadow: none; }
  .search-box .btn-search {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 6px;
    top: 3px;
    background-color: #fafafa;
    border: 0;
    color: #838383;
    text-align: center;
    font-size: 12px;
    padding: 0; }

.main-menu {
  margin: 25px 0;
  border-bottom: 2px solid #000;
  background-color: #7e7e7e;
  text-align: center; }
  .main-menu ul li a {
    display: block;
    padding: 20px 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; }
    .main-menu ul li a:hover {
      background-color: #8b8b8b; }
  .main-menu ul li + li {
    margin-left: 20px; }

footer.container {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 2px solid #000; }
footer h3 {
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase; }
footer ul {
  padding: 0;
  list-style: none; }
  footer ul a {
    font-size: 0.875rem;
    color: #000;
    text-decoration: none; }
    footer ul a:focus, footer ul a:hover {
      text-decoration: none;
      color: #666; }
footer .form-newsletter .form-control {
  box-shadow: none;
  border-radius: 0;
  height: 34px;
  float: left; }
footer .form-newsletter .btn-join-newsletter {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  border: 0;
  height: 34px;
  padding: 0 20px;
  float: left; }
footer .help-links li, footer .institutional-links li {
  margin-bottom: 10px; }
footer .help-links .fa, footer .institutional-links .fa {
  padding-right: 10px; }
footer .social-links {
  text-align: center; }
  footer .social-links li {
    display: inline-block; }
  footer .social-links a {
    display: block;
    color: #666666;
    text-decoration: none; }
    footer .social-links a:hover {
      color: #000; }
  footer .social-links .fa {
    font-size: 1.875rem; }
footer .payment-methods {
  padding: 12px 0;
  border-top: 1px dotted #aaa;
  border-bottom: 1px dotted #aaa;
  margin: 20px 0 0; }
footer .copyright {
  font-size: 0.8125rem;
  text-align: center;
  margin: 10px; }

.main-banner {
  padding: 10px 0; }

.small-banners .row {
  margin-left: -5px;
  margin-right: -5px; }
.small-banners div[class^="col-"] {
  padding: 0 5px; }

.featured-products {
  margin: 20px 0; }
  .featured-products .product {
    color: #636363;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px; }
    .featured-products .product.sold-out a {
      cursor: not-allowed; }
    .featured-products .product.sold-out:before {
      display: block;
      content: '';
      position: absolute;
      font-size: 0.8125rem;
      content: 'Indispon\00edvel';
      top: 10px;
      left: 25px;
      text-transform: uppercase;
      padding: 4px 0;
      width: 115px;
      height: 27px;
      background-color: #ec2828;
      color: #fff;
      text-align: center; }
    .featured-products .product a {
      color: #636363;
      text-decoration: none; }
    .featured-products .product .price, .featured-products .product .prev-price {
      display: inline-block;
      margin-bottom: 0; }
    .featured-products .product .prev-price {
      color: #ababab;
      text-decoration: line-through; }
      .featured-products .product .prev-price:empty {
        display: none; }
    .featured-products .product .price {
      color: #b53e39; }
    .featured-products .product .divided-price {
      margin-bottom: 0; }

.featured-products-banner {
  padding: 20px 0; }

.instagram h2 {
  margin-top: 5px;
  margin-bottom: 30px; }

/* faz com que todos os elementos sigam o padr├úo border-box */
html {
  box-sizing: border-box;
  font-size: 16px; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

/* sobrescrevendo alguns estilos do bootstrap */
.container {
  max-width: 960px;
  padding: 0; }

h2 {
  display: table;
  white-space: nowrap;
  font-size: 15px;
  text-transform: uppercase;
  max-width: 930px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em; }
  h2:before, h2:after {
    border-top: 1px solid #000;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%; }
  h2:before {
    right: 1.5%; }
  h2:after {
    left: 1.5%; }

/*# sourceMappingURL=main.css.map */
